
.nav_menu_mobile{
	padding: 10px;
}
#container{
	width: 100%;
}
.nav_menu_mobile{
	width:100%;
	z-index: 99;
	position: absolute;
}
.nav_menu_icon{
	width:100%;
	padding-left: 10px;
	left: 0;
	position:absolute;
}
.nav_menu_title{
	text-align:center;
}
.nav_menu_title p{
	size:20px;
}
#from_destination{
	margin-bottom: 10px;
}
a#to_destination{
	text-decoration: none;
}
a#to_destination :hover{
	text-decoration: none;
}
.google_maps{
	position: relative;
}
#map{
	width:100%;
	min-height:700px;
}

#map_pickup{
	width:100%;
	min-height:570px;
}
#map_trip{
	width:100%;
	min-height:630px;
}
.from_search_maps{
	margin-top:1px;
	background-color:white;
	position: absolute;
	top:50px;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
}

.from_search_maps_trip{
	margin-top:1px;
	background-color:white;
	position: absolute;
	top:-1px;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
}

.from_search_maps_client{
	margin-top:1px;
	background-color:white;
	position: absolute;
	top:50px;
	width:100%;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.from_search_maps_client_block{
	margin-top:1px;
	background-color:white;
	position: absolute;
	top:0px;
	width:100%;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.search_maps{
	float:left;
	width: 100%;
	padding-bottom:10px;
	border-radius:3px;
}

.set_now_button{
	position:absolute;
	bottom:0;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.set_underblock{

	position:absolute;
	bottom:0;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.toolbar{
	padding-top:10px;
	border-bottom:1px solid #BDBDBD;
	float: left;width: 100%
}
.newtoolbar{
/* 	padding-top:10px;
	
	float: left;width: 100% */
	float: left;
	border-bottom:1px solid #BDBDBD;
width: 100%;
}
.description{
	width:100%;
	float: left;
	padding-left:20px;
	padding-right:20px;
}
.label_information{
	border-bottom:1px solid #BDBDBD;
	width:100%;
	padding-top:20px;
	padding-bottom:5px; 
}
.information_description{
	padding-left:20px;
	padding-top:10px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.label_information{
	border-bottom:1px solid #BDBDBD;
	width:100%;
	padding-top:20px;
	padding-bottom:5px; 
}
.payment_description{
	padding-left:20px;
	padding-top:10px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.total_description{
	background-color:#2196F3;
	padding-left:5px;
	padding-right:5px;
	padding-top:12px;  
	float:left;
	width:100%;
	color:white;  
}
.list_nav_menu_item{

}
.list_nav_menu_item ul{
	padding:0px;
	margin:0px;
}
.list_nav_menu_item ul li{
	list-style: none;
	text-align: left;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #BDBDBD; 
}
.list_nav_menu_item ul li a{
	text-decoration: none;
}
.list_nav_menu_item ul li a:hover{
	text-decoration: none;
}


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    padding-bottom:10px; 
 }
 
#custom-search-input .search-query {
    padding-right: 10px;
    padding-right: 4px \9;
    padding-left: 10px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}
.input-group.col-md-9.col-xs-9.col-sm-9 {
    margin-bottom: 10px;
}

.button_online{
	background-color: #388E3C ;
	border:0px;
	width: 100%;
	float: left;
	padding: 15px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
#toggle a{
	text-decoration: none;
}
#toggle a:hover{
	text-decoration: none;
}
.button_offline{
	background-color: #424242;
	border:0px;
	width: 100%;
	float: left;
	padding: 15px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
.start_trip{
	background-color: #388E3C ;
	border:0px;
	width: 100%;
	float: left;
	padding: 15px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
.end_trip{
	background-color:#D32F2F;
	border:0px;
	width: 100%;
	float: left;
	padding: 15px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
.set_now_button a {
	text-decoration: none;
}
.set_now_button a:hover{
	color: white;
	text-decoration: none;
}

